<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <h1>Chapter 03</h1><hr>
    <a href="/sample/ex1">ex1</a><br>
    <a href="/sample/ex2">ex2</a><br>
    <a href="/sample/ex3">ex3</a><br>
    <a href="/sample/exInline">exInline</a><br>
    <a href="/sample/exLink">exLink</a><br>
    <a href="/sample/exLayout1">exLayout1</a><br>
    <a href="/sample/exLayout2">exLayout2</a><br>
    <a href="/sample/exTemplate">exTemplate</a><br>
    <a href="/sample/exSidebar">exSidebar</a><br>
</body>
</html>